h1{
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;
    color: #4f0ae2;
}

h2{
    font-family: -apple-system-subheadline, BlinkMacSystemFont, sans-serif;
    color: #9d7de2;
}

p{
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
 } 